body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #777777;
    background: #4aaaa5;
    background-image: url("../images/dark-paths.png"); 
  }

  * {
    box-sizing: border-box;
    border-radius: 5px;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    clear: both;        
  }
    
   #main-container {
    padding-top: 80px;
  } 

  .main-section {
    text-align: left;
    overflow: auto;
    padding: 20px;
    background-color: #ffffff;
    border-color: #dddddd;
    border: 1px solid;
    margin-top: 40px;
    margin-bottom: 90px;
    width: 100%;
    max-width: 960px;   
    margin-left: auto;
    margin-right: auto; 
  }
  
  header {
    position:fixed;
    width: 100%;
    margin: -10px 0 30px;
    overflow:auto;
    background: #ffffff;
    border-color: #cccccc;
    border-bottom:  2px  solid;
    z-index: 99;
    /* clear: both;  */
  }

  #logo {
    float: left;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
    margin-left: 20px;
  }

  nav {
    float: right;
    margin-top: 10px;
    font-size: 24px;
    height: 80px;
  }  

  nav a {
    text-decoration: none;
    color: #777777;
  }

  nav a:hover:not(.active) {
    background-color: #4aaaa5;
  }

  .links {
    display: inline-block;
    border-right: 1px  solid #bbb;
    padding: 0px 15px;      
    border-radius: 0px;     
  } 

  #links-last-child {
    display: inline-block;
    padding: 0px 15px;         
    border-right: 0 none;
  }

  h1,
  h2,
  h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
  }

  h1 {
    font-size: 24px;
    margin: 20px 0;
  }   
      
   div {
       margin: auto;
       width: 960px;
   }   
      
  hr {
    border: 1px solid #777777;
    border-radius: 10px;
  }
  
  #main-bio,
  #bio-image {
    float: left;
    background-color: #ffffff
  }
  
  #main-bio {
    width: 100%;
  }
  
  #bio-image {
    width: 30%;
    height: auto;
    margin-right: 20px;
    margin-top: 10px;  
  }

#bio-text {
  margin-right: 20px;
  
  
  
}

footer {
      background-color: #666666;
      position: fixed;
      width: 100%;
      border-top: 8px solid #4aaaa5;
      left: 0;
      bottom: 0;
      color: white;
      text-align: center;
      font-size: 12px;
      height: 50px;
  }
form {
    margin: 20px;
}  
  
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    font-family: Arial, Helvetica, sans-serif;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
  }
  
    input[type=submit]:hover {
    background-color: #043634;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .row {
    width: 100%;
    overflow: auto; 
    clear: both;
    display: inline-block; 
  }

  .column-1 {
    float: left;
    width: 50%;
    margin: auto;
    padding: 0 10px 0 0;

  }
  .column-2 {
    float: right;
    width: 50%;
    padding: 0 0 0 10px;

  }

  .work {
    width: 100%;
    position: relative;
    float: left;
    margin: 20px auto 20px auto;
    overflow: auto; 
    
  }
  
  
  .work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
  }
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
  }    
  .auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
  }

 @media screen and (max-width: 980px) {
   .header {
     width: 980px;
   }
   .main-section {
     width: 55%;
     margin-left: 30px
    }

    @media screen and (max-width: 768px) {

      .main-section {
        width: 100%;
        margin-left: 0px
      }
      #bio-image {
        width: 50%;
    }
  }

   @media screen and (max-width: 640px) {
     
    #main-container {
      padding-top: 0px;
    } 
    
    header {
        position: static;
        width: 640px;
        width: 100%;   
      }

      #logo {
        width: 100%;
        margin-left: 0px;
        clear: both; 
      }

      nav {
        margin: auto;
        width: 100%;
        text-align: center;          
      }  

      .main-section {
        width: 100%;
        margin-left: 0px
      }

      #bio-image {
        width: 100%;
        margin-bottom: 10px;
      }
    .column-1 {
        width: 100%;
        padding: 0 0 0 0;

      }
      .column-2 {
        width: 100%;
        padding: 0 0 0 0;

      }
        
      }



    }